{% extends "layout.html" %}
{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock %}

{% block body %}
<body style="background-color:rgb(99, 74, 198);"></body>

<div class="content">
    <!-- <img src="http://127.0.0.1:5000/static/img.jpg" height="350" width="720" style="vertical-align:center; margin:0px auto"> -->
    <h1 style="text-align: center">Image Scraper</h1>
    
    <div class="form">
        <form action="#" method="post">
            <input type="text" name="content" id="content">
            <input type="submit" value="Search">
        </form>
    </div>
    
</div>

{% endblock %}